#cube-display-container table
{
	border-spacing: 0px;
	border-collapse:collapse;
}

#cube-display-container table tr td
{
	border: solid 1px #000;
	width: 50px;
	height: 50px;
	
	padding: 0;
} 

#cube-right-face, #cube-left-face
{
	clear: both;
	margin-left: 154px;
}

#cube-back-face
{
	float:left;
}

#cube-up-face
{
	float:left;
}

#cube-front-face
{
	float:left;
}

#cube-up-face td
{

	background-color: yellow;
}


#cube-back-face td
{
	background-color: red;
}

#cube-front-face td
{
	background-color: orange;
}

#cube-left-face td
{
	background-color: green;
}

#cube-right-face td
{
	background-color: blue;
}

#cube-down-face td
{
	background-color: white;
}

ul li 
{
	list-style-type: none;
	float:left;
}