.mainContent
{
	display: block;
	margin: 60px 0;
	text-align: center;
}

 body {
      padding-bottom: 40px; 
      padding-top: 60px;
    }


     select, textarea, 
     input[type="text"], 
     input[type="password"], 
     input[type="datetime"],
     input[type="datetime-local"], 
     input[type="date"], 
     input[type="month"], 
     input[type="time"], 
     input[type="week"], 
     input[type="number"], 
     input[type="email"], 
     input[type="url"], 
     input[type="search"], 
     input[type="tel"], 
     input[type="color"], 
     .uneditable-input
     {
        height: 30px;
        color: black;
     }

     #txtTexto
     {
        height:100px;
     }

      