
    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px; 
      padding-top: 60px;
    }

    table
    {
        margin-bottom: 10px;

    }


     select, textarea, 
     input[type="text"], 
     input[type="password"], 
     input[type="datetime"],
     input[type="datetime-local"], 
     input[type="date"], 
     input[type="month"], 
     input[type="time"], 
     input[type="week"], 
     input[type="number"], 
     input[type="email"], 
     input[type="url"], 
     input[type="search"], 
     input[type="tel"], 
     input[type="color"], 
     .uneditable-input
     {
        height: 30px;
     }


    .textoInstitucionalContainer>p {
      text-align:justify;
       
    }
    
    .textoInstitucionalContainer p:first-child:first-letter {
      font-size:x-large; 
    }
   

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,

    .carousel-caption h4, .carousel-caption p
    {
      color: #000; 
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }


    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
       
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
 

 

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

 
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }


    }

    img.fotoProduto
    {
      width: 150px;
      height: auto;
    }



@media(max-width:767px){
    img.fotoProduto-detalhe
    {
        max-width: 300px;
        max-height: 300px;
        width: expression(this.width > 300 ? "300px" : true);
        height: expression(this.height > 300 ? "300px" : true);
     
    }
}

@media(min-width:768px) and (max-width:979px){
    img.fotoProduto-detalhe
    {
        max-width: 450;
        max-height: 450;
        width: expression(this.width > 450 ? "450px" : true);
        height: expression(this.height > 450 ? "450px" : true);
     
    }
}

@media(min-width:980px) and (max-width:1199px){
  img.fotoProduto-detalhe
    {
        max-width: 600;
        max-height: 600;
        width: expression(this.width > 600 ? "600px" : true);
        height: expression(this.height > 600 ? "600px" : true);
     
    }

}

@media(min-width:1200px) {
  img.fotoProduto-detalhe
    {
        max-width: 800px;
        max-height: 800px;
        width: expression(this.width > 800 ? "800px" : true);
        height: expression(this.height > 800 ? "800px" : true);
     
    }
}
